<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019793653485-j8kdnllcg6l9svtnc5su6j2otm48dnqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019793653485-j8kdnllcg6l9svtnc5su6j2otm48dnqc</string>
	<key>API_KEY</key>
	<string>AIzaSyB_pWh7FJwXz-dmQgySm_OKsqiNznlpzSA</string>
	<key>GCM_SENDER_ID</key>
	<string>1019793653485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyenmai.PlantCare</string>
	<key>PROJECT_ID</key>
	<string>plantcare-30477</string>
	<key>STORAGE_BUCKET</key>
	<string>plantcare-30477.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019793653485:ios:1aafdb20398cfdbbb296e4</string>
</dict>
</plist>